{% extends "base.html" %}
{% load static %}

{% block title %}main{% endblock %}
{% block style %}
<!--<link rel="stylesheet" href="{% static 'main.css' %}">-->
{% endblock %}


{% block content %}

{{ applications }}
{{ statuses }}
        <div class="wrapper">
            <div class="applications">
                {% for application in applications %}
                <div class="application">
                    <p class="car_number">
                        госномер: {{ application.car_number }}
                    </p>
                    <p class="description">
                        описание: {{ application.description }}
                    </p>
                    <p class="status">
                        статус: {{ application.title }}
                    </p>
					<div class="images">
                        {% for image in application.images %}
						<div class="image">
							<a href="media/photos/{{image.id_image}}.{{image.file_ext}}">
								<img src="media/photos/{{image.id_image}}.{{image.file_ext}}" height="50">
							</a>
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" name="id_image" value="{{image.id_image}}.{{image.file_ext}}">Скачать</button>
                            </form>
						</div>
                        {% endfor %}
					</div>
                        <form method="post">
                            {% csrf_token %}
                            <select name="id_status">
                                {% for status in statuses %}
                                <option value="{{status.id_status}}" {% if status.id_status == application.id_status%} selected {% endif %}>
                                    {{ status.title }}
                                </option>
                                {% endfor %}
                            </select>
                            <button type="submit" name="id_application" value="{{application.id_application}}">ОК</button>
                        </form>
					<hr>
				</div>
                {% endfor %}
            </div>
        </div>
{% endblock %}