{% extends "base.html" %}
{% load static %}

{% block title %}new_app{% endblock %}
{% block style %}
<!--<link rel="stylesheet" href="{% static 'main.css' %}">-->
{% endblock %}


{% block content %}
        <div class="wrapper">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" name="car_number" placeholder="Номер автомобиля" required>
                <textarea name="description" placeholder="Описание" required></textarea>
                <input type="file" name="files" accept="image/png, image/jpeg">
                <button type="submit" name="applications_post">Создать заявку</button>
            </form>
        </div>
{% endblock %}